{% for data in backup['results'] %}
{{ data['item'] }}
---------------------------------------------------------------------------------------------------------------
{{ data['stdout'][0] }}
################################################################################################################
################################################################################################################
{% endfor %}
